<!-- section-kontak -->
  <section class="padding--top">
    <h1 class="section__title center-text">HUBUNGI KAMI</h1>
    <a href="https://www.google.co.id/maps/dir//Pusat+Kurikulum+dan+Perbukuan+Kemendikbud,+Pasar+Baru,+Sawah+Besar,+Central+Jakarta+City,+Jakarta+10710/@-6.1716123,106.8401672,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x2e69f5f3196db6d3:0x6192befe1c68ef58!2m2!1d106.8399056!2d-6.171264!3e0" target="_blank" aria-label="maps" rel="noopener noreferrer">
      <div class="address__location" style="background: url('../images/kontak/map.JPG'); background-size: cover; background-position: center;">
      </div>
    </a>
    <div class=" contain margin-top:55 display:flex justify-flex:space-between flex-direction:row flex-wrap:wrap">
      <div class="address__box">
        <h5 class="address__box__title">Kementerian Pendidikan dan Kebudayaan</h5>
        <p>Kompleks Kementerian Pendidikan dan Kebudayaan</p>
        <p>Jalan Jenderal Sudirman, Senayan</p>
        <p>Jakarta Pusat 10270</p>
      </div>
      <div class="address__box">
        <h5 class="address__box__title">Sosial Media Resmi:</h5>
        <p>Twitter: @Kemdikbud_RI</p>
        <p>Facebook: fb.com/Kemdikbud.RI</p>
        <p>Youtube: KEMENDIKBUD RI</p>
        <p>Instagram: kemdikbud.ri</p>
      </div>
      <div class="address__box">
        <h5 class="address__box__title">Saluran Informasi dan Pengaduan seputar Pendidikan dan Kebudayaan: </h5>
        <p>Telepon: 021 5703303 / 57903020 ext. 2115</p>
        <p>SMS: 0811976929</p>
        <p>Faksimili: 021 5733125</p>
        <p>Email: pengaduan@kemdikbud.go.id</p>
        <p>ult.kemdikbud.go.id</p>
      </div>
    </div>
  </section>
<!-- end of contact section -->