section{
  margin-bottom: 50px;
}
.padding--top{
  padding-top: 125px;
}
.contain{
  padding-left: 55px;
  padding-right: 55px;
}
.margin-top\:55{
  margin-top: 55px;
}
.display\:flex{
  display: flex;
}
.flex-direction\:column{
  flex-direction: column;
}
.flex-direction\:row{
  flex-direction: row;
}
.flex-wrap\:wrap{
  flex-wrap: wrap;
}
.justify-flex\:space-around{
  justify-content: space-around;
}
.justify-flex\:space-between{
  justify-content: space-between;
}