table.custom-table {
  border-collapse: collapse;
  width: 100%;
  margin: 8px 0;
}

table.custom-table.striped-table{
  th, td {
    text-align: left;
    padding: 8px;
    vertical-align: text-top;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
}