<!-- footer section -->
<section class="kemendikbud__footer">
  <!-- <div class="kemendikbud__logo">
      <img src="images/global-assets/logo-kemendikbud.png" alt="">
    </div> -->
  <p class="footer__description">SEKRETARIAT DIREKTORAT JENDERAL KEBUDAYAAN
    KEMENTERIAN PENDIDIKAN DAN KEBUDAYAAN<br>
    surel : data.kebudayaan@kemendikbud.go.id<br>
    Komplek Kementerian Pendidikan dan Kebudayaan, Gedung E Lantai IV.<br>
    Jalan Jenderal Sudirman,Senayan, Jakarta Pusat, 10270<br>
    Indonesia
  </p>
  <hr>
  <footer>
    <div class="side__left">
      &copy; Sistem Pendataan Kebudayaan Terpadu 2020
    </div>
    <div class="side__right">
      <a href="https://www.instagram.com/budayasaya" target="_blank" rel="noopener noreferrer"
        aria-label="footer-links">
        <img src="../../../images/social-assets/instagram.png" alt="instagram">
      </a>
      <a href="https://twitter.com/budayasaya" target="_blank" rel="noopener noreferrer" aria-label="footer-links">
        <img src="../../../images/social-assets/twitter.png" alt="twitter">
      </a>
      <a href="https://www.youtube.com/channel/UCDn_9u3tQrZMFHDLWuY3-MA" target="_blank" rel="noopener noreferrer"
        aria-label="footer-links">
        <img src="../../../images/social-assets/youtube.png" alt="youtube">
      </a>
    </div>
  </footer>
</section>
<!-- end of footer section -->