<!-- pagination -->
	<div class="dikbud__pagination">
		<ul class="pages">
			<a href="#" aria-label="pagination">
				<li><img src="images/global-assets/prev-arrow.png" alt="prev-icon"></li>
			</a> 
			<a href="#" aria-label="pagination">
				<li>1</li>
			</a>
			<a href="#" aria-label="pagination">
				<li>2</li>
			</a>
			<a href="#" aria-label="pagination">
				<li>3</li>
			</a>
			<a href="#" aria-label="pagination">
				<li>4</li>
			</a>
			<a href="#" aria-label="pagination">
				<li>5</li>
			</a>
			<a href="#" aria-label="pagination">
				<li><img src="images/global-assets/next-arrow.png" alt="next-icon"></li>
			</a>
		</ul>
	</div>
<!-- end-of-pagination -->