.address__location{
  width: 100%;
  height: 350px;
  > a > img{
    width: 100%;
  }
}
.address__box{
  width: 45%;
  margin: 0 15px;
  > .address__box__title{
    position: relative;
    &::before{
      position: absolute;
      content: '';
      background: $primary;
      width: 3px;
      height: 100%;
      left: -7px;
      top: 0;
      bottom: 0;
    }
  }
}