nav.top__nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  right: 0;
  padding: 4px 8px;
  background: rgba($color: #fff, $alpha: 0);
  transition: all ease-in-out .3s;
    > .left__side{
      font-family: $font-regular;
        >a{
          color: white;
          display: flex;
          flex-direction: row;
          text-decoration: none;
          > h5{
            font-size: 1rem;
            margin: auto 0;
          }
          > .logo{
            width: 105px;
            background: url(../images/global-assets/logo-kemendikbud.png);
            height: 80px;
            transition: all ease-in-out .3s;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
    } 
    > .right__side {
      display: flex;
      justify-content: center;
      flex-direction: column;
      ul{ 
        display: flex;
        margin: auto 0;
        padding: 0;
        list-style-type: none;
          >li.menu{
            margin: 0 12px;
            width: 90px;
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
              >a{
                font-family: $font-regular;
                text-decoration: none;
                transition: all ease-in-out .3s;
                position: relative;
                font-size: .9rem;
                letter-spacing: 1px;
                color: white;
                &::after{
                  position: absolute;
                  content: '';
                  bottom: -15px;
                  opacity: 0;
                  left: 0;
                  right: 0;
                  margin: 0 auto;
                  transition: all ease-in-out .3s;
                  width: 0; 
                  height: 0; 
                  border-left: 5px solid transparent;
                  border-right: 5px solid transparent;
                  border-bottom: 5px solid $primary;
                }
                &:hover{
                  transform: scale(1.1);
                  font-weight: bolder;
                  color: $primary;
                  &::after{
                    opacity: 1;
                    bottom: -10px;
                    opacity: 1;
                  }
                }
              }
          }

        }
    }
}
nav.top__nav.scrolled{
  box-shadow: 0 4px 17px rgba($color: #909090, $alpha: .3);
  background: rgba($color: #fff, $alpha: 1);
  .left__side {
    > a {
      color: $primary;
        > h5{
          font-size: 1rem;
        }
        > .logo{
          width: 70px;
          margin: auto 0;
          height: 70px;
          background: url(../images/global-assets/logo-kemendikbud.png);    
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
    }
  } 
  > .right__side{  
    >ul >li.menu{
        >a{
          color: $primary;
        }
      }
  }
}
nav.top__nav.white-theme{
  background: white;
  // box-shadow: 0 3px 14px rgba($color: #909090, $alpha: .3);  
  > .left__side{
    >a{
      color: $primary;
    }
  }
  > .right__side{  
    >ul >li.menu{
        >a{
          color: $primary;
        }
      }
  }
}
.nav__toggle {
  z-index: 9999;
  height: 25px;
  position: fixed;
  display: none;
  top: 25px;
  right: 25px;
  transition: all ease-in-out .5s;
  svg{
    width: 25px;
    height: 25px;
  }
}
.nav__toggle.clicked{
  transform: rotate(180deg);
  >svg .svg__item{
    fill: #d94258;
  }
}
.mobile__navigation{
  position: fixed;
  top: 100%;
  left: 0;
  height: 100vh;
  background: white;
  z-index: 9997;
  width: 100%;
  border-radius: 0;
  transition: all ease-in-out .8s;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
    >.logo__watermark{
      opacity: .4;
      margin-bottom: 75px;
    }
    > a {
      color: $primary;
      font-weight: bold;
      letter-spacing: 2px;
      text-decoration: none;
        .mnav__menu{
          position: fixed;
          top: -100%;
          left: 0;
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          align-items: center;
          padding-bottom: 15px;
          font-family: $font-regular;
          background: white;
          border-radius: 0 0 15px 15px;
          box-shadow: 0 4px 12px rgba($color: #909090, $alpha: .3);
          width: 100%;
        }
    }
    > a >.mnav__menu#beranda{
      z-index: 5;
      height: 130px;
      transition: all ease-in-out .1s;
    }
    > a >.mnav__menu#artikel{
      z-index: 4;
      height: 200px;
      transition: all ease-in-out .3s;
    }
    > a >.mnav__menu#tentang{
      z-index: 3;
      height: 270px;
      transition: all ease-in-out .5s;
    }
    > a >.mnav__menu#kontak{
      z-index: 2;
      height: 340px;
      transition: all ease-in-out .8s;
      box-shadow: 0 4px 12px rgba($color: #909090, $alpha: 0);
    }
}
.mobile__navigation.active{
  top: 0;
  border-radius: 250px 250px 0 0;
  .mnav__menu{
    top: 0;
  }
}
