.map__box{
    width: 75%;
    margin: 0 auto;
    position: relative;
    > .map__search{
        display: flex;
        position: absolute;
        z-index: 99;
        padding: 8px 25px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 400px;
        background: #e6e6e6;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 6px 12px rgba($color: #616161, $alpha: .4)
    }
}
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }