.blog-posts
{

}

.post-breadcrumb
{
    font-size: 15px;
}

.post-title h1, .post-title h2, .post-title h3, .post-title h4,
h1.post-title, h2.post-title, h3.post-title, h4.post-title
{
    margin: 0;
    font-size: 35px;
}

.post-meta span
{
    font-size: 13px;
    margin-right: 10px;
}

.post-thumbnail img, img.post-thumbnail
{

}

.post-content
{

}

.post-sidebar .card
{
    border: none!important;
}
.post-sidebar .card-title
{
    font-size: 25px;
    border-bottom: 1px solid;
}

.post-sidebar .media
{
    margin-top: 10px;
}
.post-sidebar .media .media-object
{
    width: 70px;
    margin-right: 10px;
}
.post-sidebar .media .media-heading
{
    font-size: 15px;
    margin-bottom: 0;
}

[class*="text-ellipsis"]
{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    /*height: 43px;*/
    margin: 0 auto;
    /*font-size: 14px;*/
    line-height: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-ellipsis-1l
{
    -webkit-line-clamp: 1;
}
.text-ellipsis-2l
{
    -webkit-line-clamp: 2;
}
.text-ellipsis-3l
{
    -webkit-line-clamp: 3;
}
.text-ellipsis-4l
{
    -webkit-line-clamp: 4;
}

.post-meta span a:hover, .post-content a:hover, .post-sidebar a:hover, .post-breadcrumb a:hover
{
    text-decoration: none;
}