@media only screen and (max-width: 768px) {
  h1{
    font-size: 2.2rem;
  }
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.6rem;
  }
  h4{
    font-size: 1.4rem;
  }
  h5{
    font-size: 1.2rem;
  }
  h6{
    font-size: .9rem;
  }
  .nav__toggle{ display: block;}
  nav.top__nav{ background: white; border-radius: 0 0 15px 15px; box-shadow: 0 3px 14px rgba($color: #909090, $alpha: .3); }
  nav.top__nav > .right__side{ display: none; }
  nav.top__nav > .left__side > a > .logo { width: 60px; height: 60px; }
  nav.top__nav > .left__side > a > h5 { font-size: .7rem; color: $primary; }
  nav.top__nav.scrolled .left__side > a > h5 { font-size: .7rem; }
  .search__input > input.input__big { margin: 7px; }
  .search__input > .btn__radius.btn--blue { margin: 7px; }
  .panel--group > .panel__list { width: 100%; }
  .panel--group > .panel__list > .panel__circle__title{ opacity: 1; transform: scale(1); }
  .content__article { padding: 0 35px; }
  .contain { padding-left: 15px; padding-right: 15px; }
  // .article__box { width: 100% }
  .map__box > .map__search { width: 150px; flex-direction: column;}
  input.input__big{ width: 100% }
  section.kemendikbud__footer { padding: 0 15px; }
  section.kemendikbud__footer { padding: 25px 10px 8px; }
  section.kemendikbud__footer > .footer__description { width: 100% }
  section.kemendikbud__footer { background-size: cover }
  section.kemendikbud__footer footer > .side__left { font-size: .7rem; }
  .side-content{display: none;}
  .article__flexible__box { margin: 15px 0; width: 100%;}
  .width-75 { width: 100%; max-width: 100%;}
  .dikbud__pagination { padding: 0; }
  .address__box { width: 100%; margin-top: 25px; }
  .content-width\:50 { width: 80%; }
  .category-description {
    width: 100%;
  }
  .error-msg{
    width: 95%;
  }
}