@charset "UTF-8";

// @import '_sprite';
// @import 'node_modules/normalize.css/normalize';
// @import 'node_modules/sass-easing/_easings';
// @import 'node_modules/bootstrap/scss/bootstrap';

@import 'settings/**/*'; //used for color, border, font-size for H-element etc
@import 'fonts/_fonts'; // import font
@import 'modules/**/*'; //external css that downloaded add here
@import 'components/**/*'; //css group per-page/layout


// ALL VALUE NEEDS TO DEFINED USING VARIABLE
body{
	padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-regular;
  font-display: swap;
}

/* width */
::-webkit-scrollbar {
	width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }

@import 'media/max-width-768px'; //media-query
