<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Sistem Pendataan Kebudayaan Terpadu</title>
<meta name="description" content="Sistem Pendataan Kebudayaan Terpadu" />