<!-- tentang-section -->
  <section class="padding--top contain center-text">
    <h1 class="section__title">KEMENTERIAN PENDIDIKAN DAN KEBUDAYAAN</h1>
    <p class="content__description line-height:med">Kementerian Pendidikan dan Kebudayaan mempunyai tugas menyelenggarakan urusan pemerintahan di bidang pendidikan anak usia dini, pendidikan dasar, pendidikan menengah, dan pendidikan masyarakat, serta pengelolaan kebudayaan untuk membantu Presiden dalam menyelenggarakan pemerintahan negara. </p>
    <h5 class="section__title margin-top:55">VISI </h5>
    <p class="content__description italic-text">“Terbentuknya Insan serta Ekosistem Pendidikan dan Kebudayaan yang Berkarakter dengan Berlandaskan Gotong Royong”</p>
    <h5 class="section__title margin-top:55">MISI </h5>
    <ol class="left-text content-width:50 font-size:14 ordered-list">
      <li>Mewujudkan Pelaku Pendidikan dan Kebudayaan yang Kuat</li>
      <li>Mewujudkan Akses yang Meluas, Merata, dan Berkeadilan</li>
      <li>Mewujudkan Pembelajaran yang Bermutu</li>
      <li>Mewujudkan Pelestarian Kebudayaan dan Pengembangan Bahasa</li>
      <li>Mewujudkan Penguatan Tata Kelola serta Peningkatan Efektivitas Birokrasi dan Pelibatan Publik</li>
    </ol>
    <h5 class="section__title margin-top:55">TUJUAN STRATEGIS</h5>
    <ol class="left-text content-width:50 font-size:14 ordered-list">
      <li>Penguatan Peran Siswa, Guru, Tenaga Kependidikan, Orang tua, dan Aparatur Institusi Pendidikan dalam Ekosistem Pendidikan</li>
      <li>Pemberdayaan Pelaku Budaya dalam Melestarikan Kebudayaan</li>
      <li>Peningkatan Akses PAUD, Dikdas, Dikmen, Dikmas, dan Pendidikan Anak Berkebutuhan Khusus</li>
      <li>Peningkatan Mutu dan Relevansi Pembelajaran yang Berorientasi pada Pembentukan Karakter</li>
      <li>Peningkatan Jati Diri Bangsa melalui Pelestarian dan Diplomasi Kebudayaan serta Pemakaian Bahasa sebagai Pengantar Pendidikan</li>
      <li>Peningkatan Sistem Tata Kelola yang Transparan dan Akuntabel dengan Melibatkan Publik</li>
    </ol>
    <h5 class="section__title margin-top:55">STRUKTUR ORGANISASI</h5>
    <p class="content__description">
      <a href="https://www.kemdikbud.go.id/main/files/large/2c774048ca542c1" target="_blank">
        <button class="btn__big btn__radius btn--blue">DOWNLOAD</button>
      </a>      
    </p>
  </section>
<!-- end-of-tentang -->