<!-- banner -->
	<section>
		<div class="banner--search" style="background: url('images/artikel-assets/banner/banner-artikel.jpg'); background-repeat: no-repeat; background-position: center; background-size: cover;">
      <h2>ARTIKEL</h2>
      <h6 class="banner__bridging">Republik Indonesia adalah sebuah negara kepulauan terbesar di dunia yang terletak di Asia Tenggara. Melintang di katulistiwa antara benua Asia dan Australia serta antara Samudera Pasifik dan Samudera Hindia. Indonesia berbatasan dengan Malaysia di utara pulau Kalimantan, dengan Papua Nugini di timur pulau Papua dan dengan Timor Timur di utara pulau Timor.</h6>
    </div>
	</section>
<!-- end-of-banner-section -->