<!-- kategori detail -->
<section class="padding--top contain">
  <div class="kemendikbud__breadcrumbs">
    <a href="index.html" aria-label="breadcrumb">Beranda</a> / <a href="#" aria-label="breadcrumb">Cagar Budaya</a> / Candi Panataran
  </div>
  <h1>Candi Panataran</h1>
  <div class="content__banner" style="background: url('./images/kategori-advanced/cagar-budaya/candi-panataran.jpg');background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
  <div class="display:flex justify-content:between">
    <div class="category-description">
      <div class="box-content">
        <h2 class="box-content__title">Profil Objek Benda</h2>
        <div class="box-content__object">
          <div class="object-label">No. Induk Objek Benda :</div>
          <div class="object-value">OBP91239147123918412319</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Kategori :</div>
          <div class="object-value">Cagar Budaya</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Status Penetapan :</div>
          <div class="object-value">-</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">No. SK Penetapan :</div>
          <div class="object-value">-</div>
        </div>
      </div>
      <!-- detail warisan -->
      <div class="box-content">
        <h2 class="box-content__title">Detail Warisan Budaya</h2>
        <div class="box-content__object">
          <div class="object-label">Status kepemilikan :</div>
          <div class="object-value">Milik Lembaga/Instansi Swasta (non-Pemerintahan)</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Nama Pemilik :</div>
          <div class="object-value">Pemkab Aceh barat</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Alamat Pemilik :</div>
          <div class="object-value">-</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Status Pengelolaan :</div>
          <div class="object-value">-</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Nama Pengelola :</div>
          <div class="object-value">-</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Alamat Pengelola :</div>
          <div class="object-value">-</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Dokumen :</div>
          <div class="object-value">-</div>
        </div>
        <div class="box-content__object">
          <div class="object-label">Video :</div>
          <div class="object-value">-</div>
        </div>
      </div>
      <!-- info tambahan -->
      <div class="box-content">
        <div class="box-content__title">Info Tambahan</div>
        <table class="custom-table striped-table">
          <tr>
            <th>Nama</th>
            <th>Isi</th>
          </tr>
          <tr>
            <td>Kondisi</td>
            <td>
              <p>kode: 08</p>
              <p>nama: Tidak Terawat dan Tidak Utuh</p>
            </td>
          </tr>
          <tr>
            <td>Sejarah</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Keberadaan</td>
            <td>
              <p>Tempat: Desa Iskandar Muda</p>
              <p>Desa: Ujung Kalak</p>
              <p>Kecamatan: Johan Pahlawan</p>
              <p>kode_pos: -</p>
              <p>ketinggian: 0</p>
            </td>
          </tr>
          <tr>
            <td>Batas</td>
            <td>
              <p>Barat: -</p>
              <p>Utara: -</p>
              <p>Timur: -</p>
              <p>Selatan: -</p>
            </td>
          </tr>
          <tr>
            <td>Ukuran</td>
            <td>Panjang: - ; Lebar: - ; Tinggi: - ; Tebal: - ; Luas: - ; Diameter: - ; Bahan: - ; Warna: - ;</td>
          </tr>
          <tr>
            <td>Riwayat Kepemilikan</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Registrasi Nasional</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Registrasi Nasional</td>
            <td>-</td>
          </tr>
          <tr>
            <td>SK Penetapan</td>
            <td>-</td>
          </tr>
        </table>
      </div>
      <!-- related data -->
      <h3>Artikel lainnya</h3>
      <hr>
      <div class="panel--group">
        <div class="panel__list" style="background: url('images/kategori-advanced/cagar-budaya/candi-panataran.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <a href="#" aria-label="panel link">
            <div class="panel__circle__title">
              <p>
              CANDI PANATARAN
              </p>
            </div>
          </a>
        </div>
        <div class="panel__list" style="background: url('images/kategori-advanced/cagar-budaya/prasasti-ciaruteun.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <a href="#" aria-label="panel link">
              <div class="panel__circle__title">
                <p>
                PRASASTI CIARUTEUN
                </p>
              </div>
            </a>
        </div>
        <div class="panel__list" style="background: url('images/kategori-advanced/cagar-budaya/prasasti-ciaruteun.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <a href="#" aria-label="panel link">
              <div class="panel__circle__title">
                <p>
                PRASASTI CIARUTEUN
                </p>
              </div>
            </a>
        </div>
        <div class="panel__list" style="background: url('images/kategori-advanced/cagar-budaya/prasasti-ciaruteun.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <a href="#" aria-label="panel link">
              <div class="panel__circle__title">
                <p>
                PRASASTI CIARUTEUN
                </p>
              </div>
            </a>
        </div>
      </div>
    </div>
    <div class="side-content">
      <h3 class="content__title">Berita Serupa</h3>
        <div class="article__content vertical__content side__article">
          <div class="article__box-md">
            <a href="#" aria-label="small">
              <div class="article__thumbnail-md" style="background: url('images/artikel-assets/content/article/penetapan-APBD-2020.jpg'); background-position:center;background-repeat: no-repeat;">
              </div>
              <div class="article__content-md">
                <div class="article__title-md">Penetapan anggaran APBD</div>
                <div class="article__synopsis-md">Penetapan anggaran APBD unt...</div>
              </div>
            </a>
          </div>
          <div class="article__box-md">
            <a href="#" aria-label="small">
              <div class="article__thumbnail-md" style="background: url('images/artikel-assets/content/article/penetapan-APBD-2020.jpg'); background-position:center;background-repeat: no-repeat;">
              </div>
              <div class="article__content-md">
                <div class="article__title-md">Penetapan anggaran APBD</div>
                <div class="article__synopsis-md">Penetapan anggaran APBD unt...</div>
              </div>
            </a>
          </div>
          <div class="article__box-md">
            <a href="#" aria-label="small">
              <div class="article__thumbnail-md" style="background: url('images/artikel-assets/content/article/penetapan-APBD-2020.jpg'); background-position:center;background-repeat: no-repeat;">
              </div>
              <div class="article__content-md">
                <div class="article__title-md">Penetapan anggaran APBD</div>
                <div class="article__synopsis-md">Penetapan anggaran APBD unt...</div>
              </div>
            </a>
          </div>
          <div class="article__box-md">
            <a href="#" aria-label="small">
              <div class="article__thumbnail-md" style="background: url('images/artikel-assets/content/article/penetapan-APBD-2020.jpg'); background-position:center;background-repeat: no-repeat;">
              </div>
              <div class="article__content-md">
                <div class="article__title-md">Penetapan anggaran APBD</div>
                <div class="article__synopsis-md">Penetapan anggaran APBD unt...</div>
              </div>
            </a>
          </div>
          <div class="article__box-md">
            <a href="#" aria-label="small">
              <div class="article__thumbnail-md" style="background: url('images/artikel-assets/content/article/penetapan-APBD-2020.jpg'); background-position:center;background-repeat: no-repeat;">
              </div>
              <div class="article__content-md">
                <div class="article__title-md">Penetapan anggaran APBD</div>
                <div class="article__synopsis-md">Penetapan anggaran APBD unt...</div>
              </div>
            </a>
          </div>
          <div class="article__box-md">
            <a href="#" aria-label="small">
              <div class="article__thumbnail-md" style="background: url('images/artikel-assets/content/article/penetapan-APBD-2020.jpg'); background-position:center;background-repeat: no-repeat;">
              </div>
              <div class="article__content-md">
                <div class="article__title-md">Penetapan anggaran APBD</div>
                <div class="article__synopsis-md">Penetapan anggaran APBD unt...</div>
              </div>
            </a>
          </div>
        </div>
    </div>
  </div>
</section>
<!-- kategori detail -->